<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
	</style>
	<script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWj-JXeWf9zbWGk-_XTkGdmTstvQhmvSU">
	</script>
	<script type="text/javascript">
	  function initialize() {
        var mapOptions = {
		  zoom: 10,
		    center: new google.maps.LatLng(-23.5037421, -46.844028),
		    mapTypeId: google.maps.MapTypeId.TERRAIN
		  };

		  var map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		  var pathPlanCoordinates = [
		    new google.maps.LatLng(-23.5037421, -46.844028),
		    new google.maps.LatLng(-23.1856098,-47.3267265),
		  ];
		  var pathOne = new google.maps.Polyline({
		    path: pathPlanCoordinates,
		    geodesic: true,
		    strokeColor: '#FF0000',
		    strokeOpacity: 1.0,
		    strokeWeight: 2
		  });

		  pathOne.setMap(map);
	  }

	  google.maps.event.addDomListener(window, 'load', initialize);
	</script>
  <title>Homety</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="map-canvas"></div>
</body>
</html>
