<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript"
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWj-JXeWf9zbWGk-_XTkGdmTstvQhmvSU">
		</script>
		<script type="text/javascript">
		  function initialize() {
	        var mapOptions = {
			  zoom: 10,
			    center: new google.maps.LatLng(-23.5037421, -46.844028),
			    mapTypeId: google.maps.MapTypeId.TERRAIN
			  };

			  var map = new google.maps.Map(document.getElementById('map-canvas'),
			      mapOptions);

			  var pathPlanCoordinates = [
			    new google.maps.LatLng(-23.5037421, -46.844028),
			    new google.maps.LatLng(-23.1856098,-47.3267265),
			  ];
			  var pathOne = new google.maps.Polyline({
			    path: pathPlanCoordinates,
			    geodesic: true,
			    strokeColor: '#FF0000',
			    strokeOpacity: 1.0,
			    strokeWeight: 2
			  });

			  pathOne.setMap(map);
		  }

		  google.maps.event.addDomListener(window, 'load', initialize);
		</script>

	 	<title>Homety</title>

	 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	   	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    		<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
	</head>
	<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <div id="map-canvas"></div>
      </div>

    </div>
</html>
